<style>

.app-container {
  display: flex; /* Alinea el sidebar y el chat en fila */
  height: 100vh; /* Ocupa toda la altura de la pantalla */
  width: 100vw; /* Ocupa toda la anchura de la pantalla */
  justify-content: left;
}


.chat-container {
  flex: 1; /* Ocupa todo el espacio restante */
  display: flex;
  flex-direction: column;
  justify-content:left;
  padding: 10px;
  overflow-y: auto;

}
</style>

<div class="app-container">
  <div class="sidebar">
    <app-side-menu (seleccionarConversacion)="chatRef.cargarMensajes($event)"></app-side-menu>
  </div>

  <div class="chat-container">
    <app-chat #chatRef></app-chat>
  </div>
</div>

