<style>
  .input-box {
  display: flex;
  gap: 5px;
  color: white;
  bottom: 10px;
  width: 95%;
  position: fixed;
}

input {
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #ff6a00;
  width: 70%;
  height: 50px;
  text-indent: 2%;
}

button {
  padding: 8px;
  border-radius: 5px;
  width: 7%;
  background-color: #ff6a00;
  color: white;
  cursor: pointer;
}

</style>

<!-- Contenedor de la caja de entrada de texto -->
<div class="input-box">
  <!-- Campo de entrada de texto -->
  <input
    #messageInput
    type="text"
    placeholder="Escribe tu pregunta... "
    (keyup.enter)="sendMessage(messageInput.value); messageInput.value = ''">
    <!--sendMessage(messageInput.value): Llama a la función sendMessage() con el texto ingresado como argumento.-->

  <!-- Botón para enviar el mensaje -->
  <button (click)="sendMessage(messageInput.value); messageInput.value = ''"> Enviar </button>
</div>
