<style>
  .sidebar {
  padding: 10px;
  background: #f1f1f1;
}

input {
  width: 85%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-left: 6%;
}

button {
  width: 85%;
  padding: 8px;
  background: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  margin-left: 6%;
}

button:hover {
  background: #0056b3;
}

ul {
  list-style: none;
  margin-top: 10px;
  text-align: center;
}

li {
  padding: 8px;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
  color: white;
}

li:hover {
  background: #e0e0e0;
  color: #ff6a00;

}

h3{
  margin-left: 7%;
  padding: 2%;
  color: white;
  font-size: large;
}


</style>

<div id="menu" class="w-[300px] bg-orange-500 min-h-screen z-10 text-slate-300 fixed left-0">
  <h3>Historial de chat</h3>

  <!-- Caja de texto para el título -->
  <input type="text" [(ngModel)]="newTitle" placeholder="Escribe el título..." />
  <button (click)="saveConversation()">Guardar</button>

  <!-- Lista de conversaciones guardadas -->
  <ul>
    <li *ngFor="let conv of conversations$ | async">
      {{ conv.title }}
    </li>
  </ul>
</div>
