<style>
  .chat-box {
  height: auto;
  width: 10;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 50px;
  display: flex;
  flex-direction: column;
  margin-left: 12%;
  position: static;
}

.chat-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-height: auto;
  justify-content: center;
  position: static;

}

.user-message {
  align-self: flex-end;
  background-color: #ff6a00;
  color: white;
  padding: 10px;
  border-radius: 10px;
  max-width: 70%;
}

.bot-message {
  align-self: flex-start;
  background-color: #e5e5ea;
  color: black;
  padding: 10px;
  border-radius: 10px;
  max-width: 70%;
}

.timestamp {
  font-size: 0.75rem;
  opacity: 0.7;
  text-align: right;
  display: block;
  margin-top: 4px;
}

</style>


<h1>CHAT EN CURSO</h1>

<div class="chat-box">
  <!-- Conversación -->
  <div class="chat-container">
    <div *ngFor="let msg of messages"
        [ngClass]="{'user-message': msg.sender === 'user', 'bot-message': msg.sender === 'bot'}">
      <p>{{ msg.text }}</p>
      <span class="timestamp">{{ msg.timestamp | date:'shortTime' }}</span>
    </div>
  </div>

  <!-- Componente de entrada de texto -->
  <chat-texto (messageSent)="handleUserMessage($event)"></chat-texto>
</div>
