<style>
  .chat-box {
    width: 75%;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    margin-left: 20%;
    flex-grow: 1; /* Permite que el chat se expanda sin ser tapado */
    margin-bottom: 60px; /* Agrega espacio para evitar superposición */

}

.chat-container {
  display: flex;
    flex-direction: column;
    gap: 20px;
    max-height: 100vh; /* O un valor adecuado */
    justify-content: flex-start;
    position: relative; /* Asegura que no flote innecesariamente */
    overflow-y: auto; /* Agrega scroll si es necesario */

}

.user-message {
  align-self: flex-end;
  background-color: #ff6a00;
  color: white;
  padding: 10px;
  border-radius: 10px;
  max-width: 60%;
}

.bot-message {
  align-self: flex-start;
  background-color: #e5e5ea;
  color: black;
  padding: 10px;
  border-radius: 10px;
  max-width: 60%;
}

.timestamp {
  font-size: 0.75rem;
  opacity: 0.7;
  text-align: right;
  display: block;
  margin-top: 4px;
}

</style>


<h1>CHAT EN CURSO</h1>

<div class="chat-box">

  <!-- Conversación -->
  <div class="chat-container">
    <div *ngFor= "let msg of messages"
      [ngClass]="{'user-message': msg.sender == 'user', 'bot-message': msg.sender == 'bot'}">
      <p>{{ msg.text }}</p>
      <span class="timestamp">{{ msg.timestamp | date:'HH:mm' }}</span>
    </div>
  </div>

  <!-- Componente de entrada de texto -->
  <chat-texto (messageSent)="handleUserMessage($event)"></chat-texto>
</div>
