<h1>CHAT EN CURSO</h1>

<div class="chat-box">
  <!-- Conversación -->
  <div class="chat-container">
    <div *ngFor="let msg of messages"
        [ngClass]="{'user-message': msg.sender === 'user', 'bot-message': msg.sender === 'bot'}">
      <p>{{ msg.text }}</p>
      <span class="timestamp">{{ msg.timestamp | date:'shortTime' }}</span>
    </div>
  </div>

  <!-- Componente de entrada de texto -->
  <app-chat-conversation (messageSent)="handleUserMessage($event)"></app-chat-conversation>
</div>
